<% if(!locals.user){%>
<footer id="layout-footer">
    <div>
        <p>
            &#169; SocioX. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li id="home">
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
<%}%>