#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background: #2a628f;
  color: white;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #layout-header nav .mini-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    #layout-header nav .mini-logo p {
      margin: 5px;
      font-size: 3rem;
      font-weight: bold; }
  #layout-header nav .auth-links ul {
    margin: 5% 5px;
    display: flex;
    list-style: none; }
    #layout-header nav .auth-links ul #logged-in {
      display: flex; }
      #layout-header nav .auth-links ul #logged-in li {
        margin-right: 20px; }
      #layout-header nav .auth-links ul #logged-in #username-avatar {
        display: flex; }
        #layout-header nav .auth-links ul #logged-in #username-avatar img {
          margin-right: 10px; }
    #layout-header nav .auth-links ul #signin-container {
      position: relative;
      bottom: 10px;
      border-radius: none; }
      #layout-header nav .auth-links ul #signin-container .google-github-signin-button {
        border: 2px solid #000000;
        padding: 10px; }
        #layout-header nav .auth-links ul #signin-container .google-github-signin-button a {
          color: black;
          border-radius: none; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }
