body {
  background-color: #E9EBEE; }
  body #user-image {
    width: 10%;
    height: 20%;
    margin-left: 46%; }
    body #user-image img {
      border-radius: 50%;
      width: 100%;
      height: 100%; }
  body #profile-update-container #update-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body #profile-update-container #update-form-container form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;
      padding: 20px; }
      body #profile-update-container #update-form-container form input {
        padding: 10px;
        margin: 5px;
        text-align: center; }
      body #profile-update-container #update-form-container form #update-button {
        width: 50%;
        padding: 5px;
        margin-left: 25%; }
